.center-container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.width-container {
	width: 90vw;
}

.height-container {
	height: 100vh;
}
